@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("./purplebg.jpg");
}

.nav {
  background: big-gradient-to-r from-pink-500 to-white;
}

h2,
li {
  font-family: "Petit Formal Script", cursive;
}

.filterbuttons {
  width: 85px;
  border: ;
}

.selected {
  background-color: rgb(168 85 247);
}
